$background-primary: #619168;
$background-secondary: #6a806d;
$social-background-primary: rgb(241, 239, 239);
$main-padding: 10px;
$main-margin: 10px;
$div-border-line: 1px ridge rgb(212, 212, 212);
$border-color: rgb(220, 220, 220);

@mixin no-gutter {
    margin-left: 0;
    margin-right: 0;
}

@mixin image-stretch {
    width: 100%;
    padding: 0;
}

@mixin form-margin {
    margin-top: 10px;
}

.jumbotron {
    background-color: white;
    margin-top: 80px;
    // border: solid 1px black;
}

.jumbotron-image {
    @include image-stretch;

}

#carousel-caption-1 {
    font-size: 3em;
    text-align: start;
    color: antiquewhite;
}

#carousel-caption-2 {
    font-size: 3em;
    text-align: end;
    color: #d6fedc;
}

#main-left {
    border-right: 1px ridge rgb(212, 212, 212);
}

.navbar-dark {
    background-color: $background-primary;
}

.form-row {
    @include form-margin;
}

.social-sign-up-btn {
    width: 180px;
    margin-top: $main-margin;
}

main {
    padding: $main-padding;
    margin-top: $main-margin;
    margin-bottom: $main-margin;
}

footer {
    padding: $main-padding;
    background-color: #495c4c;
    color: floralwhite;
    text-align: center;
}

#search-section {

    background-color: $background-secondary;
    border: 1px $border-color solid;
    border-radius: 5px;

    h2 {
        color: rgb(232, 231, 231);
    }

    #search-bar {

        margin-bottom: 10px;
        padding: 10px;

        .form-inline {
            // padding: 10px;

            .form-group {
                margin: 5px;

                label+div {
                    margin: 0 5px;
                }

                label+input {
                    margin-left: 5px;
                }
            }

        }

    }
}

#search-result{
    
    border-top: $div-border-line;
    margin-top: 5px;

    #search-result-table {
        margin: $main-margin 0;
    
        
    
        thead {
            background-color: rgb(187, 142, 84);
            color: floralwhite;
        }
    
        tbody {
            background-color: floralwhite;
        }
    }
}


#my-account-nav-link {
    // (IMPORTANT - SEE THIS) 
    // Steps to...
    // 1) Align 'My Account' Nav Link to the right on huge screen
    // 2) Prevent 'My Account' Nav Link from collapsing with nav-collapse items on small screen
    // STEPS:
    // 1) Put #my-account-nav-link div after navbar-brand AND before nav-collapse items
    // 2) In CSS, set #my-account-nav-link 'ORDER: 1' (like below)
    order: 1;

    #my-account-icon {
        color: floralwhite;
        font-size: 1.4rem;
        padding: 0;

        #my-account-username {
            font-size: 1rem;
        }

    }

    #my-account-icon:link {
        color: floralwhite;
        text-decoration: none;
    }

    #my-account-icon:hover {
        color: floralwhite;
        text-decoration: none;
    }


    .dropdown-menu {
        background-color: floralwhite;
        // This is to position the dropdown to avoid overflowing
        right: -6vw;
        left: auto;

        .dropdown-item {

            a {
                color: $background-primary;
            }

            a:link {
                color: $background-primary;
            }

            a:visited {
                color: $background-primary;
            }

        }

    }
}

// Add media last to avoid overwriting its values
@media only screen and (max-width: 575px) {
    #carousel-caption-1 {
        font-size: 2em;
    }

    #carousel-caption-2 {
        font-size: 2em;
    }

    #main-left {
        padding-bottom: $main-padding;
        border-right: none;
        border-bottom: 1px ridge rgb(212, 212, 212);
    }

    #main-right {
        padding: 40px 0;
        margin-top: 10px;
    }

    #my-account-nav-link {
        order: 0;
    }

    #friends-section {
        margin-top: 10px;
    }

    #social-post {
        padding: $main-padding;
    }

    #social-post-header {
        text-align: center;
    }

}

#main-box {
    margin-top: 0;
}

#profile-section-box {
    margin-bottom: 0;

    #profile-section {
        background-color: $background-secondary;
        // background-color: rgb(241, 239, 239);
        border: 1px $border-color ridge;
        border-radius: 5px;

        #profile-pic {
            border: solid 1px $border-color;
            border-radius: 5px;
        }


        #user-info {
            background-color: rgb(249, 251, 235);
            border: 1px $border-color solid;
            border-radius: 5px;
        }

        #friends-section {
            background-color: rgb(241, 239, 239);
            border: 1px $border-color solid;
            border-radius: 5px;
        }

        h3 {
            color: white;
        }

        h4 {
            color: black;
        }

        .card {
            background-color: $background-secondary;
            color: white;
        }



    }

}



#social-post {
    background-color: rgb(241, 239, 239);
    border: 1px $border-color solid;
    border-radius: 5px;

    #social-post-header {
        background-color: white;
        border: 1px $border-color ridge;
        border-radius: 5px;

        #datetime {
            font-size: 0.9rem;
        }
    }

    #social-post-caption {
        font-size: 1.1rem;
    }
}