.jumbotron {
  background-color: white;
  margin-top: 80px; }

.jumbotron-image {
  width: 100%;
  padding: 0; }

#carousel-caption-1 {
  font-size: 3em;
  text-align: start;
  color: antiquewhite; }

#carousel-caption-2 {
  font-size: 3em;
  text-align: end;
  color: #d6fedc; }

#main-left {
  border-right: 1px ridge #d4d4d4; }

.navbar-dark {
  background-color: #619168; }

.form-row {
  margin-top: 10px; }

.social-sign-up-btn {
  width: 180px;
  margin-top: 10px; }

main {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px; }

footer {
  padding: 50px;
  background-color: #495c4c;
  color: floralwhite;
  text-align: center; }

#search-section {
  background-color: #6a806d;
  border: 1px gainsboro solid;
  border-radius: 5px; }
  #search-section h2 {
    color: #e8e7e7; }
  #search-section #search-bar {
    margin-bottom: 10px;
    padding: 10px; }
    #search-section #search-bar .form-inline .form-group {
      margin: 5px; }
      #search-section #search-bar .form-inline .form-group label + div {
        margin: 0 5px; }
      #search-section #search-bar .form-inline .form-group label + input {
        margin-left: 5px; }

#search-result {
  border-top: 1px ridge #d4d4d4;
  margin-top: 5px; }
  #search-result #search-result-table {
    margin: 10px 0; }
    #search-result #search-result-table thead {
      background-color: #bb8e54;
      color: floralwhite; }
    #search-result #search-result-table tbody {
      background-color: floralwhite; }

#my-account-nav-link {
  order: 1; }
  #my-account-nav-link #my-account-icon {
    color: floralwhite;
    font-size: 1.4rem;
    padding: 0; }
    #my-account-nav-link #my-account-icon #my-account-username {
      font-size: 1rem; }
  #my-account-nav-link #my-account-icon:link {
    color: floralwhite;
    text-decoration: none; }
  #my-account-nav-link #my-account-icon:hover {
    color: floralwhite;
    text-decoration: none; }
  #my-account-nav-link .dropdown-menu {
    background-color: floralwhite;
    right: -6vw;
    left: auto; }
    #my-account-nav-link .dropdown-menu .dropdown-item a {
      color: #619168; }
    #my-account-nav-link .dropdown-menu .dropdown-item a:link {
      color: #619168; }
    #my-account-nav-link .dropdown-menu .dropdown-item a:visited {
      color: #619168; }

@media only screen and (max-width: 575px) {
  #carousel-caption-1 {
    font-size: 2em; }
  #carousel-caption-2 {
    font-size: 2em; }
  #main-left {
    padding-bottom: 10px;
    border-right: none;
    border-bottom: 1px ridge #d4d4d4; }
  #main-right {
    padding: 40px 0;
    margin-top: 10px; }
  #my-account-nav-link {
    order: 0; }
  #friends-section {
    margin-top: 10px; }
  #social-post {
    padding: 10px; }
  #social-post-header {
    text-align: center; } }

#main-box {
  margin-top: 0; }

#profile-section-box {
  margin-bottom: 0; }
  #profile-section-box #profile-section {
    background-color: #6a806d;
    border: 1px gainsboro ridge;
    border-radius: 5px; }
    #profile-section-box #profile-section #profile-pic {
      border: solid 1px gainsboro;
      border-radius: 5px; }
    #profile-section-box #profile-section #user-info {
      background-color: #f9fbeb;
      border: 1px gainsboro solid;
      border-radius: 5px; }
    #profile-section-box #profile-section #friends-section {
      background-color: #f1efef;
      border: 1px gainsboro solid;
      border-radius: 5px; }
    #profile-section-box #profile-section h3 {
      color: white; }
    #profile-section-box #profile-section h4 {
      color: black; }
    #profile-section-box #profile-section .card {
      background-color: #6a806d;
      color: white; }

#social-post {
  background-color: #f1efef;
  border: 1px gainsboro solid;
  border-radius: 5px; }
  #social-post #social-post-header {
    background-color: white;
    border: 1px gainsboro ridge;
    border-radius: 5px; }
    #social-post #social-post-header #datetime {
      font-size: 0.9rem; }
  #social-post #social-post-caption {
    font-size: 1.1rem; }
